[Unit]
Description=Enable auto power control for usb device

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c "/bin/echo auto > /sys/bus/pci/devices/%i/power/control"

[Install]
WantedBy=multi-user.target
