[Unit]
Description=br0 Static Network Connectivity
After=systemd-modules-load.service systemd-udev-trigger.service
Conflicts=br0_dynamic.service

[Service]
Type=oneshot
Restart=on-failure
RemainAfterExit=yes

#ExecStart=/bin/ifconfig enp3s1 hw ether 00:e0:81:5e:83:00
#ExecStart=/bin/ifconfig enp3s1 0.0.0.0 up
ExecStart=/bin/ifconfig enp1s0 0.0.0.0 up
ExecStart=/bin/bash -c " if ! ( brctl show | grep -q br0 ); then /sbin/brctl addbr br0; fi "
ExecStart=/bin/bash -c " if ! ( brctl show | grep -q enp1s0 ); then /sbin/brctl addif br0 enp1s0; fi "
ExecStart=/bin/ifconfig br0 10.0.0.3 netmask 255.255.255.0 broadcast 10.0.0.255 up
ExecStart=/bin/route add default gw 10.0.0.1
ExecStart=/bin/echo "nameserver 10.0.0.2" > /etc/resolv.conf
ExecStart=/bin/echo "nameserver 8.8.8.8" >> /etc/resolv.conf

ExecStop=/bin/ifconfig br0 down
ExecStop=/bin/bash -c " if ! ( brctl show | grep -q enp1s0 ); then /sbin/brctl delif br0 enp1s0; fi "
ExecStop=/bin/bash -c " if ! ( brctl show | grep -q br0 ); then /sbin/brctl delbr br0; fi "

[Install]
WantedBy=network.target
Alias=br0.service
