[Unit]
Description=Set cpufreq governor to powersave

[Service]
Type=oneshot
ExecStart=/bin/bash -c "for (( i=0; i<`grep -Ec "^processor" /proc/cpuinfo`; i++ )); do /usr/bin/cpufreq-set -c $i -g powersave; done"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
