[Unit]
Description=Apply cpupower configuration

[Service]
Type=oneshot
EnvironmentFile=/etc/conf.d/cpupower
ExecStart=/usr/bin/cpupower frequency-set $START_OPTS
ExecStop=/usr/bin/cpupower frequency-set $STOP_OPTS
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
