[Unit]
Description=Apply cpupower configuration

[Service]
Type=oneshot
EnvironmentFile=/etc/conf.d/cpupower
ExecStart=/usr/bin/cpupower ${START_OPTS}
ExecStop=/usr/bin/cpupower ${STOP_OPTS}
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
