[Unit]
Description=distcc
After=network.target syslog.service avahi-daemon.service avahi-dnsconfd.service 
Requires=network.target syslog.service avahi-daemon.service avahi-dnsconfd.service

[Service]
Type=forking
Restart=always
EnvironmentFile=/etc/conf.d/distccd
#ExecStartPre=/bin/mkdir -p /run/distccd
#ExecStartPre=/bin/chown distcc:daemon /run/distccd
ExecStartPre=/bin/bash -c eval "$(gcc-config -E)"
ExecStart=/usr/bin/distccd --user distcc --pid-file /run/distccd/distccd.pid --daemon --port 3632 --log-level error --log-file /var/log/distccd.log --allow 10.0.0.0/24 --allow fe80::/10 --zeroconf -N 5 -j 5
#ExecStop=/bin/kill $(cat /run/distccd/distccd.pid)
PIDFile=/run/distccd/distccd.pid

[Install]
WantedBy=multi-user.target
