[Unit]
Description=eth0 Network Connectivity

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/ifconfig eth0 0.0.0.0 up
ExecStop=/bin/ifconfig eth0 down

[Install]
WantedBy=network.target
