[Unit]
Description=P-T-K internal lan connection with firewall
After=systemd-modules-load.service systemd-udev-trigger.service sys-subsystem-net-devices-%i.device
Requires=sys-subsystem-net-devices-%i.device

[Service]
RestartSec=5
Restart=always

#ExecStartPre=/sbin/sysctl net.ipv6.conf.%i.forwarding=1
#ExecStartPre=/sbin/sysctl net.ipv6.conf.%i.accept_ra=0
#ExecStartPre=/sbin/sysctl net.ipv6.conf.%i.autoconf=0
#ExecStartPre=/usr/bin/sleep 5
#ExecStart=/sbin/dhcpcd -q -B -w4 -w6 %i
ExecStart=/sbin/dhcpcd -q -B -c /usr/local/sbin/fw_with_dhcpcd_hooks.sh %i
#ExecStartPre=/usr/bin/sleep 32
#ExecStartPre=-/usr/local/sbin/fw_full.sh

ExecStop=/sbin/dhcpcd -k %i
ExecStopPost=/usr/local/sbin/fw_flush_all_rules.sh

[Install]
RequiredBy=network.target
RequiredBy=inet@.service
