[Unit]
Description=P-T-K internal lan connection with firewall
After=systemd-modules-load.service systemd-udev-trigger.service

[Service]
RestartSec=5
Restart=always

ExecStartPre=/sbin/sysctl net.ipv6.conf.%i.accept_ra=2
ExecStartPre=/usr/bin/sleep 5
ExecStart=/sbin/dhcpcd -B -w -c /usr/local/sbin/fw_full.sh

ExecStop=/sbin/dhcpcd -k %i
ExecStopPost=/usr/local/sbin/fw_flush_all_rules.sh

[Install]
WantedBy=network.target
RequiredBy=inet@.service
