[Unit]
Description=My firewall rules
After=br0@.service ext_lan@.service inet@.service
Requires=br0@.service ext_lan@.service
Before=miniupnpd.service

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/usr/local/sbin/fw_full.sh
ExecStop=/usr/local/sbin/fw_flush_all_rules.sh

[Install]
RequiredBy=ext_lan@.service
RequiredBy=inet@.service
