[Unit]
Description=My firewall rules for inet
After=br0.target inet.target
Requires=br0.target inet.target
Before=miniupnpd.service fail2ban.service

[Service]
Type=simple
RestartSec=5s
Restart=on-failure
#RemainAfterExit=yes

ExecStart=/usr/local/sbin/fw_full.sh
ExecStop=/usr/local/sbin/fw_full.sh

[Install]
WantedBy=network.target
