[Unit]
Description=My firewall rules for inet
After=br0.target inet.target
Requires=br0.target inet.target
Before=miniupnpd.service

[Service]
Type=oneshot
RemainAfterExit=yes
RestartSec=20s
Restart=always

ExecStart=/usr/local/sbin/fw_full.sh
ExecStop=/usr/local/sbin/fw_full.sh

[Install]
WantedBy=network.target
