[Unit]
Description=My firewall rules
After=br0@.service ext_lan@.service NetworkManager.service inet@.service
Requires=br0@.service ext_lan@.service NetworkManager.service

[Service]
RestartSec=5
Restart=on-abnormal

Type=oneshot
RemainAfterExit=yes

ExecStart=/usr/local/sbin/fw_full.sh
ExecStop=/usr/local/sbin/fw_flush_all_rules.sh

[Install]
RequiredBy=ext_lan@.service
RequiredBy=inet@.service
