[Unit]
Description=Haveged daemon
After=local-fs.target syslog.service
Requires=local-fs.target syslog.service

[Service]
Type=forking
Restart=always
EnvironmentFile=/etc/conf.d/haveged
ExecStart=/usr/sbin/haveged -r 0 ${HAVEGED_OPTS} -p /run/haveged.pid
PIDFile=/run/haveged.pid

[Install]
WantedBy=multi-user.target
