[Unit]
Description=Hostapd wifi ap
After=br0.service syslog.service sys-subsystem-net-devices-wlp0s29u1u6u3.device
Requires=br0.service syslog.service sys-subsystem-net-devices-wlp0s29u1u6u3.device

[Service]
Type=forking
Restart=always
RestartSec=10
#ExecStartPre=/bin/sleep 3
ExecStartPre=/bin/ifconfig wlp0s29u1u5 0.0.0.0 up
#ExecStartPre=/bin/bash -c "COUNTRY="00" /sbin/crda"
#ExecStartPre=/usr/local/sbin/crda_set.sh
#ExecStartPre=/usr/sbin/iw reg set RU

ExecStart=/usr/sbin/hostapd -B -P /run/hostapd/hostapd.pid /etc/hostapd/hostapd.conf
ExecReload=/bin/kill -HUP $(cat /run/hostapd/hostapd.pid) > /dev/null 2>&1
PIDFile=/run/hostapd/hostapd.pid

[Install]
WantedBy=multi-user.target
