[Unit]
Description=Hostapd wifi ap
After=systemd-modules-load.service systemd-udev-trigger.service br0.service syslog.service
After=systemd-modules-load.service systemd-udev-trigger.service br0.service syslog.service

[Service]
Type=forking
Restart=always
ExecStartPre=/bin/ifconfig wlp3s0 0.0.0.0 up
ExecStart=/usr/sbin/hostapd -B -P /run/hostapd/hostapd.pid /etc/hostapd/hostapd.conf
ExecReload=/bin/kill -HUP $(cat /run/hostapd/hostapd.pid) > /dev/null 2>&1
PIDFile=/run/hostapd/hostapd.pid

[Install]
WantedBy=multi-user.target
