[Unit]
Description=hwclock
Before=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/hwclock --localtime --hctosys --localtime
ExecStop=/sbin/hwclock --localtime --systohc --localtime

[Install]
WantedBy=multi-user.target
