[Unit]
Description=hwclock
Conflicts=shutdown.target
After=systemd-readahead-collect.service systemd-readahead-replay.service systemd-readahead-done.service
Before=sysinit.target shutdown.target udev.service time-sync.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/hwclock --localtime --hctosys --localtime
ExecStop=/sbin/hwclock --localtime --systohc --localtime

[Install]
WantedBy=sysinit.target
