[Unit]
Description=PPPoE connection with firewall
After=systemd-modules-load.service systemd-udev-trigger.service

[Service]
Type=forking
RestartSec=2
Restart=always

ExecStart=-/usr/sbin/pppoe-start
ExecStartPost=/usr/bin/sleep 5
#ExecStartPost=/sbin/sysctl net.ipv6.conf.%i.forwarding=1
#ExecStartPost=/sbin/sysctl net.ipv6.conf.%i.accept_ra=0
#ExecStartPost=/sbin/sysctl net.ipv6.conf.%i.autoconf=0
#ExecStartPost=/usr/bin/sleep 10
#ExecStartPost=-/bin/sh -c "/bin/ip -6 addr add `rdisc6 -q1 %i | cut -d '/' -f 1 | rev | cut -b 2- | rev``ip -6 addr show dev %i | grep -i fe80 | grep -i '/64' | awk '{print $2}' | cut -d ':' -f 3-` dev %i"
ExecStartPost=-/bin/sh -c "/bin/ip -6 addr add `rdisc6 -q1 %i | cut -d '/' -f 1 | rev | cut -b 2- | rev``ip -6 addr show dev br0 | grep -i fe80 | grep -i '/64' | awk '{print $2}' | cut -d ':' -f 3-` dev br0"
#Prevent infinite loop in routing table
#ExecStartPost=-/bin/sh -c "/bin/ip -6 route del `rdisc6 -q1 %i` dev %i"
#ExecStartPost=-/bin/sh -c "/bin/ip -6 addr del `rdisc6 -q1 %i | cut -d '/' -f 1 | rev | cut -b 2- | rev``ip -6 addr show dev %i | grep -i fe80 | grep -i '/64' | awk '{print $2}' | cut -d ':' -f 3-` dev %i"
#Remove Router advertisement for not to stain routing table. I think I can disable it and set IPv6 addresses by myself.
#ExecStartPost=/sbin/sysctl net.ipv6.conf.%i.autoconf=0
#ExecStartPost=/sbin/sysctl net.ipv6.conf.%i.accept_ra=0
ExecStartPost=-/usr/local/sbin/fw_full.sh
ExecStartPost=-/etc/miniupnpd/iptables_init.sh
ExecStartPost=-/etc/miniupnpd/ip6tables_init.sh
ExecStopPre=/bin/sh -c "/bin/ip -6 addr del `rdisc6 -q1 %i | cut -d '/' -f 1 | rev | cut -b 2- | rev``ip -6 addr show dev br0 | grep -i fe80 | grep -i '/64' | awk '{print $2}' | cut -d ':' -f 3-` dev br0"
ExecStop=/usr/sbin/pppoe-stop
#ExecStopPost=-/bin/sh -c "/bin/ip -6 addr del $(ip -6 addr show dev br0 scope global | grep -i `ip -6 addr show dev br0 | grep -i fe80 | grep -i '/64' | awk '{print $2}' | cut -d ':' -f 3-` | awk '{print $2}'| head -1) dev br0"

PIDFile=/var/run/-pppoe.pid

[Install]
RequiredBy=network.target
#RequiredBy=sntp.service
#RequiredBy=ntpd.service
#RequiredBy=ntpdate.service
#RequiredBy=ddclient.service
#RequiredBy=fail2ban.service
#RequiredBy=miniupnpd.service
#RequiredBy=radvd.service
