#.include /usr/lib/systemd/system/mpd.service

[Unit]
Description=Music Player Daemon (running as nrndda)
After=systemd-user-sessions.service
After=network.target
After=sound.target

[Service]
User=%i
Group=audio
PAMName=system-local-login
#Restart=on-failure
ExecStart=/usr/bin/mpd --no-daemon

[Install]
WantedBy=multi-user.target
