[Unit]
Description=NMBD server
After=syslog.target
After=network.target

[Service]
Type=forking
Restart=always
ExecStart=/usr/sbin/nmbd -D
ExecStop=/bin/kill -15 $MAINPID
PIDFile=/var/run/samba/nmbd.pid

Restart=on-failure

[Install]
WantedBy=multi-user.target
