[Unit]
Description=ntpd
Conflicts=ntp-client.service busybox_ntpd_client.service
After=hwclock.service network.target systemd-readahead-collect.service systemd-readahead-replay.service systemd-readahead-done.service
Requires=network.target

[Service]
Restart=always
ExecStart=/usr/sbin/ntpd -d > /dev/null 2>&1

[Install]
WantedBy=multi-user.target
