[Unit]
Description=Set %i interface in promiscuous mode
Before=promiscuous.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/ip link set dev %i promisc on
RemainAfterExit=yes

[Install]
WantedBy=promiscuous.target
WantedBy=multi-user.target
