[Unit]
Description=RPC mountd
Requires=rpc.statd.service
After=rpc.statd.service
Requires=network.target

[Service]
EnvironmentFile=/etc/conf.d/nfs
ExecStart=/usr/sbin/rpc.mountd --foreground $OPTS_RPC_MOUNTD
Restart=on-failure
