[Unit]
Description=rsync daemon
After=syslog.service network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/rsync --daemon --no-detach
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
