[Unit]
Description=Samba server
After=syslog.target
After=network.target

[Service]
Type=forking
Restart=always
ExecStart=/usr/sbin/smbd -D --piddir=/var/run/samba
ExecStop=/bin/kill -15 $MAINPID
PIDFile=/var/run/samba/smbd.pid

[Install]
WantedBy=multi-user.target
