[Unit]
Description=Binds devices to vfio-pci
After=syslog.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=-/usr/sbin/vfio-bind

[Install]
WantedBy=multi-user.target

