[Unit]
Description=wlan0 Network Connectivity
After=systemd-modules-load.service systemd-udev-trigger.service

[Service]
Type=oneshot
Restart=on-failure
RemainAfterExit=yes
ExecStart=/bin/ifconfig wlan0 0.0.0.0 up
ExecStop=/bin/ifconfig wlan0 down

[Install]
WantedBy=network.target
