[Unit]
Description=ZRAM
#DefaultDependencies=no
#Requires=udev-settle.service
#After=udev-settle.service
#Before=shutdown.target local-fs.target

[Service]
Type=oneshot
Restart=on-failure
RemainAfterExit=yes
ExecStart=/usr/sbin/zram start
ExecStop=/usr/sbin/zram stop

[Install]
WantedBy=sysinit.target
