[Unit]
Description=Git-daemon Socket
Conflicts=git-daemon.service
#After=network.target syslog.service
#Requires=network.target syslog.service

[Socket]
ListenStream=9418
Accept=yes

[Install]
WantedBy=sockets.target
