[Unit]
Description=distcc
After=network.target syslog.service
Requires=network.target syslog.service

[Service]
Type=forking
EnvironmentFile=/etc/conf.d/distccd
ExecStartPre=/bin/mkdir -p /run/distccd
ExecStartPre=/bin/chown distcc:daemon /run/distccd
ExecStartPre=/bin/bash -c eval "$(gcc-config -E)"
ExecStart=$DISTCCD_EXEC --user distcc --pid-file $DISTCCD_PIDFILE --daemon $DISTCCD_OPTS
#ExecStop=/bin/kill $(cat /run/distccd/distccd.pid)
PIDFile=$DISTCCD_PIDFILE

[Install]
WantedBy=multi-user.target
