[Unit]
Description=Git Daemon Instance

[Service]
#User=gitdaemon
#Group=git

Type=forking
EnvironmentFile=/etc/conf.d/git-daemon
ExecStart=/usr/bin/git daemon --pid-file=/var/run/git-daemon.pid --user=gitdaemon --group=git --syslog --verbose --base-path=/var/lib/gitolite/repositories
PIDFile=/var/run/git-daemon.pid

[Install]
WantedBy=multi-user.target

