[Unit]
Description=NMBD server
After=syslog.target
After=network.target

[Service]
ExecStart=/usr/sbin/smbd --piddir=/var/run/samba
ExecStop=/bin/kill -15 $MAINPID
PIDFile=/var/run/samba/nmbd.pid

Restart=always

[Install]
WantedBy=multi-user.target
