[Unit]
Description=NTP client
After=hwclock.service network.target
Requires=hwclock.service network.target

[Service]
Type=oneshot
EnvironmentFile=/etc/conf.d/ntp-client
RemainAfterExit=yes
ExecStart=/usr/sbin/ntpdate -s -b -u 1.gentoo.pool.ntp.org 2.gentoo.pool.ntp.org 3.gentoo.pool.ntp.org 4.gentoo.pool.ntp.org

[Install]
WantedBy=multi-user.target
