[Unit]
Description=NTP client
After=hwclock.service network.target
Requires=hwclock.service network.target

[Service]
Type=oneshot
EnvironmentFile=/etc/conf.d/ntp-client
RemainAfterExit=yes
ExecStart=$NTPCLIENT_CMD $NTPCLIENT_OPTS

[Install]
WantedBy=multi-user.target
