[Unit]
Description=Samba server
After=syslog.target
After=network.target

[Service]
Group=samba

ExecStart=/usr/sbin/smbd --pid-file=/var/run/samba/smbd.pid
ExecStop=/bin/kill -15 $MAINPID
PIDFile=/var/run/samba/smbd.pid

Restart=always

[Install]
WantedBy=multi-user.target
