[Unit]
Description=Syslog-ng
After=local-fs.target
Requires=local-fs.target
DefaultDependencies=false

[Service]
Type=forking
ExecStart=/usr/sbin/syslog-ng --pidfile /run/syslog-ng.pid
PIDFile=/run/syslog-ng.pid

[Install]
WantedBy=sysinit.target
Alias=syslog.service
